<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consectetur voluptatibus ad est sapiente ipsam debitis, eligendi neque non quaerat eos obcaecati ab quos unde praesentium minus quod magni. Suscipit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quos est architecto nemo optio dolor consequatur tenetur in, perferendis consequuntur molestiae ea, iste id necessitatibus saepe ipsa nostrum laboriosam natus!</p>
</body>
</html>